.snake {
	background-color: #2ef0f0;
	overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);
	background-color: #d8e2dc;
	border: 1px solid #798478;
	width: 100vh;
	height: 100vh;
	margin: 0 auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	display: inline-block;
}
