.snake {
	background-color: #2ef02e;
	overflow: hidden;
	border-radius: 50%;
}
.fruit {
	background-color: #f02e2e;
	overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);
	background-color: #f3f9f6;
	border: 1px solid #798478;
	width: 100vh;
	height: 95vh;
	margin: 0 auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	display: inline-block;
}
.scoreboard {
	position: absolute;
	left: 100px;
	border: 1px solid black;
	width: 200px;
	height: 300px;
}
